body {
background-color: yellow;
background-size: cover;
margin: 0;
padding:0;
}

footer{
background-color:hwb(0 10% 30%);
color:#FFFFFF;
font-family:Verdana;
font-size:15px;
text-align:center;
padding:10px;
}

img, video
{
	max-width:100%;
}

nav
{
	background-color:#be1313;
	height:30px;
	font-family:Verdana;
	font-weight:bold;
	font-size:20px;
}

nav ul
{
height:auto;
padding:8px 0px
margin:0px
}

nav section
{
display:inline;
padding:10px;
margin:0px;
}

nav a 
{
text-decoration:none;
color:hsla(0, 0%, 2%, 0.897);
padding: 8px 8px 8px 8px;
}

nav a:hover
{
color:#c02121;
background-color:hsl(98, 14%, 85%);
}

@media all and (min-width:960px)
{

	
